includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    parallel:
        processTimeout: 300.0

    paths:
        - app
        - tests

    # The level 8 is the highest level
    level: 5

    # excludes_analyse:
    #     - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
